__pycache__
.DS_Store
.vscode
*.log
*.json
*.tif
*.jpg
*.txt
*.env
*.out
.idea/
!requirements.txt
!ConfigFiles/**/*.json
!Tests/**/*.json
!Tests/**/*.tif
!IntegrationServer/ConfigFiles/*.json
Files/Error/**
Files/NewFiles/**
Files/InProcess/**
Files/UpdatedFiles/**
