__pycache__
.DS_Store
.vscode
*.log
*.log.*
*.log.*.gz
*.json
*.tif
*.jpg
*.txt
*.env
*.out
*.out.*
*.out.*.gz
.idea/
logs/
!requirements.txt
!ConfigFiles/**/*.json
!Tests/**/*.json
!Tests/**/*.tif
Tests/MockServers/MockData/400.tif
!IntegrationServer/ConfigFiles/*.json
Files/Error/**
Files/NewFiles/**
Files/InProcess/**
Files/UpdatedFiles/**
!Documentation/**/*.json