# template for the .env file

#HPC configuration
UCLOUD_USER=
LUMI_USER=
SLURM_CONFIGURATION= # Which slurm to use. Example: LUMI
SSH_KEY_PATH= # LUMI requires this
HPC_ASSET_DIRECTORY= # directory with batch directories for checking file state
# Limits number of running jobs uploading and downloading files to/from HPC. If not set it defaults to 3 in code.
MAX_HPC_UPLOAD_COUNT=
MAX_HPC_DOWNLOAD_COUNT=

# Email configuration - leave mail server blank if using send mail. Example: gmail
mail_server=gmail # Name of the mail server this will point to the mail_server_xxx_xxx.
mail_server_host_gmail=smtp.gmail.com # for gmail
mail_server_port_gmail=587 # probably port 587
mail_server_user_gmail= # gmail user
mail_server_pass_gmail=
address_from= # sender mail address

# More email configuration - used by both types of mail setups
sender_name= # OCTOPUS for production or STARFISH for development
address_to= # mail receiver adress

# Slack configuration
slack_url= # slack service url: https://hooks.slack.com/services/xxxxxxxxxxxxxxx

# Keycloak configuration
keycloak_url= # https://dassco.dk/keycloak
keycloak_realm= # dassco
keycloak_algorithm= #RS256
keycloak_id= # primary keycloak id 
keycloak_secret=
keycloak_authorized_client_ids= # all authorized clients comma separated including primary id

# for storage api wrapper. These has to be set as system variables. There are default values set in the dasscostorageclient, but they wont work as is.
DASSCO_BASE_URL= # https://dassco.dk
DASSCO_TOKEN_PATH= # https://authprovider.com/protocol/openid-connect/token

# HPC API base url. /integration/dev or empty depends on the server setup and how it maps urls.
HPC_FRONT_URL=

# CONTROL API base url. /integration/control or empty depends on the server setup and how it maps urls.
CONTROL_FRONT_URL=

# Ndrive path or any other path where files that should be processed by the integration server are. This should be an absolute path. Example: /home/Ndrive
NDRIVE_PATH=